body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;   
    background-color: #EFEFEF;
}

header {
    background-color: #003300;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

.title{
    font-size:20px;
    font-weight:bold;
    background-color: #004D00;
    color: white;
    text-align: center;
    padding: 0.5rem;
}
.welcome{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 1rem;
    margin: 10px;
}
.welcome p{
    font-size:20px;
    font-weight:bold;
}
.mainDiv{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 0.5rem 0.5rem 2rem;
    margin: 10px;
}
.mainDiv p{
    font-size:20px;
    font-weight:bold;
}
.task-card {
    background-color: #E6E6E6;
    border-radius: 8px;
    margin: 15px 40% 1%;
    padding: 5px;  
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    z-index: 0;
    width: 400px;
    height: 80px;
}
.task-card:hover {
    transform: rotate(1turn);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.task-card p{
    font-size:12px;
    margin: 1px 70% 10%;
    text-decoration: none;
}
.footers{
    font-size: 20px;
    background-color: #003300;
    list-style: none;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
}